<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>907757118251-o4bqhlakpk7vv63qfagcsh4epkikjqgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.907757118251-o4bqhlakpk7vv63qfagcsh4epkikjqgi</string>
	<key>API_KEY</key>
	<string>AIzaSyAmF8ca8C36xy241_KHegGhBeZ3X2fLbCM</string>
	<key>GCM_SENDER_ID</key>
	<string>907757118251</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.selforder</string>
	<key>PROJECT_ID</key>
	<string>selforder-c7da0</string>
	<key>STORAGE_BUCKET</key>
	<string>selforder-c7da0.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:907757118251:ios:d77d504ef0fcc664e0db6e</string>
</dict>
</plist>